body {
  margin-top: -19px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.header {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.missionw {
  margin-left: 40px
}

.co {
  color:  #B3DEE5;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;

}
.recipe {
  color: #628B48;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color:#fffaeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.heading {
  width: 300;
  height: auto;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.mission {
  color: #FFB433;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}

.missionw {
  color: #628B48;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 2;
  margin-right: 10px;
}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(179, 222, 229, 1);
  opacity: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 17%;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fffaeb;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #628B48;
}

.overlay .closebtn {
  position: absolute;
  top: -8.25px;
  left: 15px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.menu {
  color: #cf6800ff;
}

nav{
position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fffaeb;
  height: 73px;
  padding: 10px;
display: flex;
justify-content: center;
}

.cool {
  display: flex;
  align-self: center;
  line-height: 1.8;
}

.mymenu {
  margin-right: auto;
}

.cool {
  margin-right: auto;
  margin-left: -743px;
}


.backSearch:hover,
  .searchBar:focus {
    background-color: #628B48;
    border: transparent;
}

.result {
  display: flex;
  background-color:#cf6800ff;
  padding: 15px;
  border-top: 1px solid #cf6800ff;
  width: 250px;
  flex-direction: column;
}

.foods {
  width: 25%;
  
  display: inline-block;
}

.description {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 30px;
  margin-top:10px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  display: inline;
}
img {
  width: auto;
  height: 200px;
  object-fit: cover;
}
.full {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  padding-right: 10px;
  margin-top: 50px;
}
.country{
  color: #861F08;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.info {
  color: #ffe8e2ff;
  font-family: 'Montserrat', sans-serif;
}
